body {
    background: linear-gradient(
      225deg,
      #72023e 0%,
      #3e0638 16.21%,
      #030a31 44.79%,
      #02061c 70.83%,
      #000 93.23%
    );  
    height: 100vh;
    overflow: hidden;
  }  
  #container {
    display: grid;  
    grid-template-areas:
      "logo-btn logo-btn logo-btn"
      "container1 container1 container1"
      "container2 container2 container2"
      "container3 container3 container3";
    gap: 5px;  
  }  
  
  /* #container div {
    padding: 20px;  
    background: #72023e;
  }   */
  
  #logo-btn{
    grid-area: logo-btn;
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: 70% 30%;
  }
  .logo{
    margin-top: 20px;
    margin-left: 40px;
  }
  .logo img{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn button{
    border-radius: 20px;
    width: 50%;
    height: 18%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.452);
  }
  #cadastre-se{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    position: relative;
    padding-left: 8%;
    font-weight: 400;
  }
  #entrar{
    background: linear-gradient(
      225deg,
      #72023e 0%,
      #3e0638 16.21%,
      #030a31 44.79%,
      #02061c 70.83%,
      #000 93.23%
    );  
    color: #fff;
    z-index: 2;
    position: relative;
    right: 15%;
  }
  #container1 {
      grid-area: container1;  
      display: grid;
      width: 100%;
      height: 200px;
      grid-template-columns: 25% 25% 25% 25%;
      align-items: center;
      justify-content: center;
      gap: 5px;
      
  }  
  
  #container2 {
    grid-area: container2;
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  #container3 {
    grid-area: container3;
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  #container1 div {
    display: grid;  
    width: 80px;
    height: 80px;
    background-color: #000;
    animation: scroll 10s linear alternate infinite;
    background-image: url('../img/mulheres\ goticas.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }  
  
  #container2 div {
    display: grid;  
    width: 80px;
    height: 80px;
    background-color: #000;
    animation: scroll2 15s linear alternate infinite;
    gap: 50px;
    background-image: url('../img/WhatsApp\ Image\ 2023-06-27\ at\ 12.48.46\ PM.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }  
  #container3 div {
    display: grid;  
    width: 80px;
    height: 80px;
    background-color: #000;
    animation: scroll 10s linear alternate infinite;
    background-image: url('../img/mulher\ de\ preto.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }  

  #cadastre-se{
    cursor: pointer;
  }

  #entrar{
    cursor: pointer;
  }
  
  
  
  
  /* @keyframes scroll {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
  
    50%{
      width: 150px;
      height: 150px;
    }
  
    to {
      transform: translateX(50%);
      width: 200px;
      height: 200px;
    }
  }
  
  @keyframes scroll2 {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
    50% {
      height: 150px;
      width: 150px;
    }
    to {
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
    }
  }
  
  @keyframes scroll3 {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
    50% {
      height: 150px;
      width: 150px;
    }
    to {
      transform: translateX(50%);
      width: 200px;
      height: 200px;
    }
  } */
  
  @keyframes scroll {
    0% {
      transform: translateX(10%);
      width: 180px;
      height: 180px;
    }
  
    50% {
      width: 150px;
      height: 150px;
    }
  
    75% {
      transform: translateX(50%);
      width: 180px;
      height: 180px;
    }
  
    100% {
      transform: translateX(100%);
      width: 150px;
      height: 150px;
    }
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(40%);
      width: 190px;
      height: 190px;
    }
    
    50% {
      height: 150px;
      width: 150px;
    }
    
    75% {
      transform: translateX(-50%);
      width: 190px;
      height: 190px;
    }
  
    100% {
      transform: translateX(-100%);
      width: 150px;
      height: 150px;
    }
  }
  
  @keyframes scroll3 {
    0% {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
    
    50% {
      height: 150px;
      width: 150px;
    }
    
    75% {
      transform: translateX(50%);
      width: 200px;
      height: 200px;
    }
  
    100% {
      transform: translateX(100%);
      width: 150px;
      height: 150px;
    }
  }
  
  
  /* @keyframes scroll {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
  
    50% {
      width: 150px;
      height: 150px;
    }
  
    75% {
      transform: translateX(50%);
      width: 200px;
      height: 200px;
    }
  
    to {
      transform: translateX(100%);
      width: 150px;
      height: 150px;
    }
  }
  
  @keyframes scroll2 {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
    
    50% {
      height: 150px;
      width: 150px;
    }
    
    75% {
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
    }
  
    to {
      transform: translateX(-100%);
      width: 150px;
      height: 150px;
    }
  }
  
  @keyframes scroll3 {
    from {
      transform: translateX(0%);
      width: 200px;
      height: 200px;
    }
    
    50% {
      height: 150px;
      width: 150px;
    }
    
    75% {
      transform: translateX(50%);
      width: 200px;
      height: 200px;
    }
  
    to {
      transform: translateX(100%);
      width: 150px;
      height: 150px;
    }
  } */
  